body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f4f4;
  color: #222;
  transition: all 0.3s ease;
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 40px 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #1abc9c;
}

.info {
  flex-grow: 1;
  text-align: right;
}

#themeToggle {
  margin-top: 10px;
  padding: 5px 10px;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

h1,
h2 {
  margin-bottom: 10px;
}

section {
  margin-top: 40px;
}

.skill-display {
  background: #1abc9c;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 18px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.skill-tag {
  background: #1abc9c;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.skill-tag:hover {
  background: #16a085;
}

.skill-note {
  margin-top: 20px;
  max-width: -135px;
  font-style: italic;
  color: #555;
  font-size: 15px;
  text-align: center;
}

/* Dark mode styles */
.dark-mode {
  background: #121212;
  color: #eee;
}

.dark-mode .skill-tag {
  background: #16a085;
}

.dark-mode #themeToggle {
  background: #16a085;
}

.dark-mode .skill-display {
  background: #16a085;
}

.dark-mode .skill-note {
  color: #ccc;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.project-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1abc9c;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #16a085;
}
